Tuple

In [44]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [45]:
type(t)

tuple

In [46]:
#finding the avg of the list
f = [1, 4, 7, 8, 9, 6, 5, 3, 4]

round(sum(f)/len(f), 2)

5.22

Dictionary

In [47]:
s = {"name":["a", "b", "c", "d"],
     "age":[25, 26, 24, 28]}
print(s)
type(s)

{'name': ['a', 'b', 'c', 'd'], 'age': [25, 26, 24, 28]}

dict

In [48]:
s.keys()

dict_keys(['name', 'age'])

In [49]:
s.values()

dict_values([['a', 'b', 'c', 'd'], [25, 26, 24, 28]])

In [50]:
s["name"]

['a', 'b', 'c', 'd']

In [51]:
s["name"][0:2]

['a', 'b']

In [52]:
#replacing the name "C" with "M"

s["name"][2] = "M"
print(s)

{'name': ['a', 'b', 'M', 'd'], 'age': [25, 26, 24, 28]}

In [53]:
tempList = s.keys()

type(tempList)

dict_keys

In [54]:
# Home Work Task
# Changing the key 'name' into 'Fullname'
s["Fullname"] = s.pop("name")

print(s)

{'age': [25, 26, 24, 28], 'Fullname': ['a', 'b', 'M', 'd']}

In [55]:
#conditional statements
x = 153
if(x%3==0):
    print("yes")
else:
    print("no")

yes

In [56]:
# x is less than or more than 1000
x = 895

if(x>1000):
    print("greater")
elif (x<1000):
    print("smaller")
else:
    print("equals")

smaller

In [57]:
y = 895

if(x>500 and x<1000):
    print("It is greater than 500 & less than 1000")
elif (x>1000):
    print("It is greater than 1000")
elif (x<500):
    print("It is less than 500")
else:
    print("It is greater than 1000")

It is greater than 500 & less than 1000

In [58]:
x = 5
if(x%2==0):
    print("even")
else:
    print("odd")

odd

In [59]:
x = 5
if(x%2==0):
    print(x**3)
else:
    print(x**2)

25

In [60]:
id(x)

140733635138472

In [61]:
%whos

Variable            Type         Data/Info
------------------------------------------
add                 function     <function add at 0x0000024DEDDDFCE0>
areaOfCircle        function     <function areaOfCircle at 0x0000024DEDDDFE20>
convertToHrs        function     <function convertToHrs at 0x0000024DEDE50540>
cube                function     <function cube at 0x0000024DEAFD8F40>
cubeList            list         n=26
cubeRoot            function     <function cubeRoot at 0x0000024DEDE50220>
evenList            list         n=16
f                   list         n=9
findVolume          function     <function findVolume at 0x0000024DEDF6C680>
h                   list         n=16
i                   int          50
l                   list         n=7
list                list         n=7
math                module       <module 'math' (built-in)>
minutes             int          185
mul                 function     <function mul at 0x0000024DEDDDF7E0>
oddList             list         n=15
perimeterOfCircle   function     <function perimeterOfCirc<...>le at 0x0000024DEDE504A0>
pi                  float        3.142857142857143
s                   dict         n=2
sqList              list         n=25
square              function     <function square at 0x0000024DEDE502C0>
squareRoot          function     <function squareRoot at 0x0000024DEDE500E0>
t                   tuple        n=10
tempList            dict_keys    dict_keys(['age', 'Fullname'])
v                   str          aeiou
vol_cuboid          function     <function vol_cuboid at 0x0000024DEDE50680>
vol_hemisphere      function     <function vol_hemisphere at 0x0000024DEDEF7880>
vol_sphere          function     <function vol_sphere at 0x0000024DEDEF4360>
x                   int          5
y                   int          895

In [62]:
import math
x = 386
if(x%2==0 and x>1000):
    print(x**2)
elif(x%2==0 and x<1000):
    print(x**3)
elif(x%2!=0 and x<1000):
    print(x**(1/3))
elif(x%2!=0 and x>1000):
    print(math.sqrt(x))
else:
    print("none")

57512456

Python loop statements

In [63]:
l = [0, 1, 2, 3, 4, 5, 6]
for i in l:
    print(i)

0
1
2
3
4
5
6

In [64]:
#print those values which divided by both 2 and 3
h = [4, 78, 9, 6, 3, 5, 4, 2, 23, 6, 456, 86, 96, 6, 6, 9]
for i in h:
    if(i%2==0 and i%3==0):
        print(i)

78
6
6
456
96
6
6

In [65]:
#print elements between 0 and 30
list = [2, 15, 60, 32, 8, 91, 13]
for i in list:
    if(i>0 and i<30):
        print(i)

2
15
8
13

In [66]:
s = "hello harry meet me at the shop"
for i in s.split():
    print(i)

hello
harry
meet
me
at
the
shop

In [67]:
#print those words that starts with "h"
s = "hello harry meet me at the shop"
for i in s.split():
    if(i.startswith("h")):
     print(i)

hello
harry

In [68]:
#print those words that ends with "t"
for i in s.split():
    if(i.endswith('t')):
        print(i)

meet
at

In [69]:
# print names that starts with "a" and ends with "a"
s = "amit rohan abhiniza aastha robin pankaj harry ron san reema"
for i in s.split():
    if(i.startswith("a") and i.endswith("a")):
        print(i)

abhiniza
aastha

In [70]:
# print those names where length is more than 4 
for i in s.split():
    if(len(i)>4):
        print(i)

rohan
abhiniza
aastha
robin
pankaj
harry
reema

In [71]:
v = "aeiou"
s = "amit rohan om aastha eshita pankaj udit ron udaya reema"
for i in s.split():
    if(i[0] in v):
        print(i)

amit
om
aastha
eshita
udit
udaya

In [72]:
# create 2 empty lists odd and even 
# add elements in lists odd(oddlist) and even(evenList) in range 0 to 30

oddList = []
evenList = []

for i in range(0, 31):
    if((i & 1)==0):
        evenList.append(i)
    else:
        oddList.append(i)
        
print(oddList)
print(evenList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [73]:
# use range(0, 100) and print those number where 2nd digit is 5

for i in range(0, 101):
    if(i==5):
      continue
    if(i%10==5):
        print(i)

15
25
35
45
55
65
75
85
95

In [74]:
# if number is odd then calculate square and add it in square list
# if number is even then calculate cube and add it in cube list
# range (0, 50)

sqList =[]
cubeList = []

for i in range(0, 51):
    if((i & 1)!=0):
        sqList.append(i**2)
    else:
        cubeList.append(i**3)

print(sqList)
print(cubeList)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]
[0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000]

Define functions

In [75]:
def add(var1, var2):
    return var1+var2

print(add(1, 4))

5

In [76]:
#multiply function

def mul(n1, n2):
    return n1*n2

print(mul(2, 5))

10

In [77]:
#create a function for cube
#create a function for square
#create a function for cube root
#create a function for square root


def cube(num):
    return num**3

def square(num):
    return num**2

def cubeRoot(num):
    return num**(1/3)

def squareRoot(num):
    return num**(1/2)

print(cube(3))
print(square(5))
print(cubeRoot(27))
print(squareRoot(81))

27
25
3.0
9.0

In [78]:
# convert and print the hours by using minutes

minutes = 185

def convertToHrs(mins):
    print(mins//60, "Hrs", mins%60, "mins")
    
convertToHrs(minutes)

3 Hrs 5 mins

In [79]:
# Create a function to calculate area of circle
# Create a function to calculate perimeter of circle

pi = 3.1415
def areaOfCircle(rad):
    return pi*(rad**2)

def perimeterOfCircle(rad):
    return 2*pi*rad

print(round(areaOfCircle(7), 2))
print(round(perimeterOfCircle(7), 2))

153.93
43.98

In [80]:
def vol_cuboid(l, b, h):
    return l*b*h

print(vol_cuboid(3, 5, 10))

150

In [81]:
# calculate and print the volume of sphere

pi = 22/7
def vol_sphere(rad):
    return (4/3)*pi*(rad**3)

print("Volume of sphere", round(vol_sphere(4), 2))

Volume of sphere 268.19

In [82]:
# calculate and print the volume of hemisphere

pi = 22/7
def vol_hemisphere(rad):
    return (2/3)*pi*(rad**3)

print("Volume of hemisphere", round(vol_hemisphere(4), 2))

Volume of hemisphere 134.1

In [88]:
# write a program to calculate the volumes of sphere and cuboid 

def findVolume(name):
    if(name.lower()=="cuboid"):
       print(vol_cuboid(3, 4, 7))
    elif(name.lower()=="sphere"):
        print(vol_sphere(6))

findVolume("cuboid")
findVolume("sphere")

84
905.142857142857

In [89]:
# create a function to find the area and perimeter

def csa_hemisphere(rad):
    return 2*pi*(rad**2)

print(csa_hemisphere(5))

157.14285714285714

In [90]:
def findCurvedArea_Volume_of_hemisphere(name):
    if(name.lower()=="csa"):
        print(csa_hemisphere(7))
    elif(name.lower()=="vol"):
        print(vol_hemisphere(8))
        
findCurvedArea_Volume_of_hemisphere("csa")
findCurvedArea_Volume_of_hemisphere("vol")

NameError: name 'csa_hemisphere' is not defined