Tuple

In [1]:
t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
type(t)

tuple

In [3]:
#finding the avg of the list
f = [1, 4, 7, 8, 9, 6, 5, 3, 4]

round(sum(f)/len(f), 2)

5.22

Dictionary

In [4]:
s = {"name":["a", "b", "c", "d"],
     "age":[25, 26, 24, 28]}
print(s)
type(s)

{'name': ['a', 'b', 'c', 'd'], 'age': [25, 26, 24, 28]}

dict

In [5]:
s.keys()

dict_keys(['name', 'age'])

In [6]:
s.values()

dict_values([['a', 'b', 'c', 'd'], [25, 26, 24, 28]])

In [7]:
s["name"]

['a', 'b', 'c', 'd']

In [8]:
s["name"][0:2]

['a', 'b']

In [9]:
#replacing the name "C" with "M"

s["name"][2] = "M"
print(s)

{'name': ['a', 'b', 'M', 'd'], 'age': [25, 26, 24, 28]}

In [10]:
tempList = s.keys()

type(tempList)

dict_keys

In [11]:
# Home Work Task
# Changing the key 'name' into 'Fullname'
s["Fullname"] = s.pop("name")

print(s)

{'age': [25, 26, 24, 28], 'Fullname': ['a', 'b', 'M', 'd']}

In [12]:
#conditional statements
x = 153
if(x%3==0):
    print("yes")
else:
    print("no")

yes

In [13]:
# x is less than or more than 1000
x = 895

if(x>1000):
    print("greater")
elif (x<1000):
    print("smaller")
else:
    print("equals")

smaller

In [14]:
y = 895

if(x>500 and x<1000):
    print("It is greater than 500 & less than 1000")
elif (x>1000):
    print("It is greater than 1000")
elif (x<500):
    print("It is less than 500")
else:
    print("It is greater than 1000")

It is greater than 500 & less than 1000

In [15]:
x = 5
if(x%2==0):
    print("even")
else:
    print("odd")

odd

In [16]:
x = 5
if(x%2==0):
    print(x**3)
else:
    print(x**2)

25

In [17]:
id(x)

140733583627176

In [18]:
%whos

Variable   Type         Data/Info
---------------------------------
f          list         n=9
s          dict         n=2
t          tuple        n=10
tempList   dict_keys    dict_keys(['age', 'Fullname'])
x          int          5
y          int          895

In [19]:
import math
x = 386
if(x%2==0 and x>1000):
    print(x**2)
elif(x%2==0 and x<1000):
    print(x**3)
elif(x%2!=0 and x<1000):
    print(x**(1/3))
elif(x%2!=0 and x>1000):
    print(math.sqrt(x))
else:
    print("none")

57512456

Python loop statements

In [20]:
l = [0, 1, 2, 3, 4, 5, 6]
for i in l:
    print(i)

0
1
2
3
4
5
6

In [22]:
#print those values which divided by both 2 and 3
h = [4, 78, 9, 6, 3, 5, 4, 2, 23, 6, 456, 86, 96, 6, 6, 9]
for i in h:
    if(i%2==0 and i%3==0):
        print(i)

78
6
6
456
96
6
6

In [24]:
#print elements between 0 and 30
list = [2, 15, 60, 32, 8, 91, 13]
for i in list:
    if(i>0 and i<30):
        print(i)

2
15
8
13

In [26]:
s = "hello harry meet me at the shop"
for i in s.split():
    print(i)

hello
harry
meet
me
at
the
shop

In [27]:
#print those words that starts with "h"
s = "hello harry meet me at the shop"
for i in s.split():
    if(i.startswith("h")):
     print(i)

hello
harry

In [28]:
#print those words that ends with "t"
for i in s.split():
    if(i.endswith('t')):
        print(i)

meet
at

In [30]:
# print names that starts with "a" and ends with "a"
s = "amit rohan abhiniza aastha robin pankaj harry ron san reema"
for i in s.split():
    if(i.startswith("a") and i.endswith("a")):
        print(i)

abhiniza
aastha

In [31]:
# print those names where length is more than 4 
for i in s.split():
    if(len(i)>4):
        print(i)

rohan
abhiniza
aastha
robin
pankaj
harry
reema

In [34]:
v = "aeiou"
s = "amit rohan om aastha eshita pankaj udit ron udaya reema"
for i in s.split():
    if(i[0] in v):
        print(i)

amit
om
aastha
eshita
udit
udaya

In [35]:
# create 2 empty lists odd and even 
# add elements in lists odd(oddlist) and even(evenList) in range 0 to 30

oddList = []
evenList = []

for i in range(0, 31):
    if((i & 1)==0):
        evenList.append(i)
    else:
        oddList.append(i)
        
print(oddList)
print(evenList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [37]:
# use range(0, 100) and print those number where 2nd digit is 5

for i in range(0, 101):
    if(i==5):
      continue
    if(i%10==5):
        print(i)

15
25
35
45
55
65
75
85
95

In [39]:
# if number is odd then calculate square and add it in square list
# if number is even then calculate cube and add it in cube list
# range (0, 50)

sqList =[]
cubeList = []

for i in range(0, 51):
    if((i & 1)!=0):
        sqList.append(i**2)
    else:
        cubeList.append(i**3)

print(sqList)
print(cubeList)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]
[0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000]